# Ignore all __pycache__ folders
__pycache__/

# Ignore Python compiled files
*.pyc

# Ignore specific folders
rgc_controller/build
stagnation_classifier/raw_episodes
stagnation_classifier/training_data
stagnation_classifier/videos
stagnation_classifier/labeled_episodes_manual
stagnation_classifier/labeled_curves
stagnation_classifier/models

# Ignore VS Code settings
.vscode/
.style.yapf